[workspace.lints.rust]
unsafe_code = "forbid"
missing_debug_implementations = "warn"

[workspace.lints.clippy]
pedantic = "warn"
nursery = "warn"
unwrap_used = "warn"
expect_used = "warn"

module_name_repetitions = "allow"
must_use_candidate = "allow"
cast_precision_loss = "allow"
